body {
  background-color: #fff;
}

.card {
  width: 30rem;
  text-align: center;
}

.demo {
  font-weight: bold;
  color: red;
  font-size: 2rem;
}

@media (max-width: 510px) {
  .card {
    width: 400px;
    height: 525px;
  }
}
